<app-co-second-grid [appToggleClass]="coWidget">
  <div class="flex" first>
    {{coWidget.coWidgetType === CoWidgetType.COMPOSITE ? 'Составные атрибуты' : 'Простые атрибуты'}}</div>
  <div abs class="abs icon">
    <mat-icon [class.expand]="coWidget.isExpand" svgIcon="no-color-arrow"></mat-icon>
  </div>
</app-co-second-grid>
<app-expansion-panel [expanded]="coWidget.isExpand">
  <app-co-second-grid>
    <div class="flex title" first>Атрибуты</div>
    <div class="flex title" second>Тип</div>
  </app-co-second-grid>
  <app-co-attr-item-drag [coWidget]="coWidget" [items]="coWidget.coFields$| async">
    <ng-template let-item #item>
      <app-co-attr-item [appLeaderLine]="item" [coWidgetId]="coWidget.id" appHoverClass [field]="item"></app-co-attr-item>
    </ng-template>
  </app-co-attr-item-drag>
</app-expansion-panel>
<ng-container *ngIf="load$| async"></ng-container>
