<div class="left">
  <div class="object ">
    <div class="title">
      <input
        clickStopPropagation
        type="text"
        required
        #label="ngModel"
        [title]="field.label"
        [name]="field.coFieldId"
        [ngModel]="field.label"
        [appAutoSaver]="saveLabel"
        [appAlreadyExists]="comparator"
        (keypress)="keyboardHandler($event)"
        (paste)="onPasteLabel($event)"
        (click)="stop($event)"
      />
    </div>
  </div>
</div>
<div class="right">
  <div class="object">
    <div class="title">
      {{field.type}}
    </div>
  </div>
</div>
<div class="abs">
  <mat-icon svgIcon="no-color-setting"></mat-icon>
  <mat-icon #removeCo clickStopPropagation svgIcon="no-color-remove"></mat-icon>
</div>
<ng-container *ngIf="remove$ | async"></ng-container>

