<div [id]="id"
     class="bo-items-drag"
     cdkDropList
     #cdkDropList="cdkDropList"
     cdkDropListSortingDisabled
     [class.draggable]="isDraggable"
     [cdkDropListData]="items"
     [cdkDropListConnectedTo]="toIds"
     (cdkDropListDropped)="drop($event)"
>
  <ng-container *ngFor="let item of items">
    <div
      class="bo-item-drag bo-item-drag-origin "
      [id]="item.fieldId"
      [class.check]="item?.isChecked"
      [class.not-checked]="!item?.isChecked"
      cdkDrag
      (cdkDragStarted)="started($event, bodyC, replacementC ,cdkDropList)"
      (cdkDragEntered)="entered($event, item)"
      (cdkDragEnded)="ended($event, replacementC, item)"
    >
      <app-attr-drag-preview [isScope]="true" *cdkDragPreview></app-attr-drag-preview>
      <div #bodyC>
        <ng-container
          *ngIf="itemTemplateRef"
          [ngTemplateOutlet]="itemTemplateRef"
          [ngTemplateOutletContext]="{$implicit:item}"
        ></ng-container>
      </div>
    </div>
    <div #replacementC
         class="bo-item-drag bo-item-drag-replacement"
         [class.show]="item.isReplacement"
         [class.check]="item?.isChecked"
         [class.not-checked]="!item?.isChecked"></div>
  </ng-container>

</div>

