.cdk-drag-preview {
  background: #FFFFFF;

  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
  0 8px 10px 1px rgba(0, 0, 0, 0.14),
  0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
  background: #E4E4E4;
}

.bo-item-drag-replacement {
  display: none;
  background: #E4E4E4;

  &.show {
    display: block !important;
  }

}

.draggable {
  .bo-item-drag.check {
    background: #E4E4E4;
  }
}

::ng-deep .co-items-drag.cdk-drop-list-dragging {


  .bo-item-drag.cdk-drag-placeholder {
    height: 0;
    width: 0;
    overflow: hidden;
  }

}


