<div [id]="id"
     class="bo-items-drag"
     cdkDropList
     #cdkDropList="cdkDropList"
     cdkDropListSortingDisabled
     [cdkDropListSortPredicate]="sortPredicate"
     [class.draggable]="isDraggable"
     [cdkDropListData]="items"
     [cdkDropListConnectedTo]="toIds"
>
  <ng-container *ngFor="let item of items">
    <div
      class="bo-item-drag bo-item-drag-origin "
      [id]="item.fieldId"
      [class.check]="item?.isChecked"
      [class.not-checked]="!item?.isChecked"
      cdkDrag
      (mousedown)="mousedown($event, cdkDropList)"
      (mouseup)="mouseup($event)"
      (cdkDragStarted)="started($event, bodyC,  replacementC, item)"
      (cdkDragEntered)="entered($event, item)"
      (cdkDragEnded)="ended($event, replacementC, item)"
      (cdkDragDropped)="dropped($event)"
    >
      <app-attr-drag-preview [preview]="preview" *cdkDragPreview></app-attr-drag-preview>
      <div #bodyC>
        <ng-container
          *ngIf="itemTemplateRef"
          [ngTemplateOutlet]="itemTemplateRef"
          [ngTemplateOutletContext]="{$implicit:item}"
        ></ng-container>
      </div>
    </div>
    <div #replacementC
         class="bo-item-drag bo-item-drag-replacement"
         [class.show]="item.isReplacement"
         [class.check]="item?.isChecked"
         [class.not-checked]="!item?.isChecked"></div>
  </ng-container>

</div>

