<div class="left">
  <div class="icon">
    <mat-checkbox disabled="true" [checked]="field.isChecked"></mat-checkbox>
  </div>
  <div class="title">
    {{field?.label}}
  </div>
  <div class="form-element-title">
    {{field?.tabId | findTabGroup: boWithFields.fields}}
  </div>
</div>

<div class="right">
  <div class="title">
    {{(field?.type || field?.widgetType || field?.nativeFieldType)| lowercase}}
  </div>
</div>

<div class="abs" [appLinkLeaderLine]="field">
  <mat-icon svgIcon="no-color-delete"></mat-icon>
</div>


