:host {


  position: relative;

  display: grid;
  grid-template-columns: var(--grid-column-child);
  grid-template-rows: var(--grid-height);
  align-items: center;

  cursor: pointer;

  &.check .left .icon {
    color: #2f80ed

  }

  .left {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-left: var(--border-gray);
    border-right: var(--border-gray);
    border-bottom: var(--border-gray);
    box-sizing: border-box;
    z-index: 1;

    & > div:not(:first-child) {
      padding-left: 0.5rem;
    }

    .icon {
      color: #DADADA;

      mat-checkbox {
        position: relative;
        z-index: -1;
      }
    }

    .title {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 18px;
      color: #232323;
    }

    .form-element-title {
      font-style: normal;
      font-weight: normal;
      font-size: 10px;
      line-height: 13px;
      color: #ADADAD;
    }
  }

  .right {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    padding-left: 0.5rem;
    padding-right: 0.5rem;

    box-sizing: border-box;
    border-bottom: var(--border-gray);
    border-right: var(--border-gray);
    z-index: 1;

    .title {
      font-style: normal;
      font-weight: normal;
      font-size: 14px;
      line-height: 18px;

      color: #232323;
    }
  }

  .abs {
    &.link-leader-line {
      opacity: 1;
      z-index: 3;
    }

    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 42px;
    padding-right: 0.5rem;
    right: 0;
    transition: all 250ms;
    opacity: 0;


    mat-icon {
      margin-left: auto;
      color: #DADADA;

      &:hover {
        color: #EE5252;
      }
    }
  }


}
