<app-bo-second-grid>
  <div (click)="chooseRecord()" class="flex add-bo" first>
    <div class="icon">
      <mat-icon svgIcon="no-color-add"></mat-icon>
    </div>
    <div class="title">
      Объект
    </div>
  </div>
</app-bo-second-grid>
<app-bo-second-grid>
  <div class="flex" first>
    Объект
  </div>
  <div class="flex" second>
    Атрибуты
  </div>
  <div class="flex" third>
    Тип
  </div>
</app-bo-second-grid>
<ng-container *ngFor="let boRecordWithFields of boRecordsWithFields$ | async ; trackBy getId">
  <app-bo-attr-grid appHoverClass [boWithFields]="boRecordWithFields"></app-bo-attr-grid>
</ng-container>
