.container {
  position: relative;
  display: flex;
  height: 100%;

  .half {
    position: relative;
    width: 100%;
    overflow-y: auto;
  }

  .border-right {
    box-sizing: border-box;
    border-right: var(--border-gray);
  }

  .vertical-line {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    border-left: var(--border-gray);
    margin-left: 99px;
  }

  .abs {
    position: fixed;
    display: flex;
    width: 100%;
    height: 60px;
    bottom: 0;
    align-items: center;
    justify-content: center;
    color: white;

    .save {
      width: 50%;
      height: 100%;
      position: relative;
      background: green;

      display: flex;
      align-items: center;
      justify-content: center;
    }

    .cancel {
      width: 50%;
      height: 100%;
      position: relative;
      background: #ADADAD;

      display: flex;
      align-items: center;
      justify-content: center;
    }
  }


}

