<div
  *ngFor="let item of items"
  class="co-items-drag"
  cdkDropList
  #cdkDropList="cdkDropList"
  cdkDropListSortingDisabled

  [id]="item.coFieldId"
  [class.cursor]="coWidget.coWidgetType===CoWidgetType.SIMPLE"
  [class.simple]="coWidget.coWidgetType===CoWidgetType.SIMPLE"
  [class.composite]="coWidget.coWidgetType===CoWidgetType.COMPOSITE"
  [cdkDropListDisabled]="coWidget.coWidgetType!==CoWidgetType.SIMPLE"
  [cdkDropListData]="[item]"
  [cdkDropListConnectedTo]="toIds"
  (cdkDropListDropped)="drop($event)"
  [cdkDropListSortPredicate]="sortPredicate"
>
  <div class="co-item-drag"
       (mousedown)="mousedown($event,item, cdkDropList)"
       (mouseup)="mouseup($event)"
       (cdkDragStarted)="started($event, bodyC, replacementC, item)"
       (cdkDragEntered)="entered($event, item)"
       (cdkDragEnded)="ended($event, replacementC, item)"
       cdkDrag>

    <app-attr-drag-preview [preview]="preview" *cdkDragPreview></app-attr-drag-preview>
    <div class="custom-placeholder" *cdkDragPlaceholder></div>

    <div #bodyC>
      <ng-container
        *ngIf="itemTemplateRef"
        [ngTemplateOutlet]="itemTemplateRef"
        [ngTemplateOutletContext]="{$implicit:item}"
      ></ng-container>
    </div>
  </div>
  <div #replacementC class="co-item-drag-replacement"></div>
</div>
