.co-items-drag {
  &.cursor {
    cursor: pointer;
  }
}


.co-item-drag-replacement {
  display: block;
  background: #E4E4E4;
}

.co-item-drag + .co-item-drag-replacement {
  display: none !important;
}

.co-items-drag.cdk-drop-list-dragging {

  .co-item-drag {
    box-sizing: border-box;
    border: 1px solid #2F80ED;
  }

}

