<div class="left">
  <div class="object">
    <div class="title">
      Встреча
    </div>
    <div class="icon">
      <mat-icon svgIcon="no-color-remove"></mat-icon>
    </div>
  </div>
</div>
<div class="right">
  <app-bo-attr-item-first *ngIf="!boItem?.isExpand" [appToggleClass]="boItem"></app-bo-attr-item-first>
  <app-expansion-panel *ngIf="boItem.isExpand"
                       [defaultExpanded]="boItem.isExpand">
    <app-bo-attr-item-drag [items]="items">
      <ng-template let-item #item>
        <app-bo-attr-item [appCheckClass]="item">
        </app-bo-attr-item>
      </ng-template>
    </app-bo-attr-item-drag>
  </app-expansion-panel>
</div>
<div class="abs">
  <div class="icon">
    <mat-icon svgIcon="no-color-arrow" [class.expand]="boItem.isExpand" [appToggleClass]="boItem"></mat-icon>
  </div>
</div>

