<div class="left">
  <div class="object">
    <div [title]="boWithFields?.name" class="title">
      {{boWithFields?.name}}
    </div>
    <div #removeBo class="icon delete-icon" [class.display-none]="!boWithFields?.isExpand">
      <mat-icon svgIcon="no-color-delete"></mat-icon>
    </div>
  </div>
</div>
<div class="right">
  <app-bo-attr-item-first *ngIf="!boWithFields?.isExpand"
                          [id]="boWithFields.id"
                          [appToggleClass]="boWithFields"></app-bo-attr-item-first>
  <app-expansion-panel *ngIf="boWithFields.isExpand"
                       [defaultExpanded]="boWithFields.isExpand">
    <app-bo-attr-item-drag [items]="boWithFields.fields">
      <ng-template let-item="item" let-last="last" #item>
        <app-bo-attr-item [appCheckClass]="item"
                          appHoverClass
                          [field]="item"
                          [last]="last"
                          [boWithFields]="boWithFields"
        >
        </app-bo-attr-item>
      </ng-template>
    </app-bo-attr-item-drag>
  </app-expansion-panel>
</div>
<div class="abs">
  <div #removeBoSecond class="icon delete-icon" [class.display-none]="boWithFields?.isExpand">
    <mat-icon svgIcon="no-color-delete"></mat-icon>
  </div>
  <div class="icon">
    <mat-icon svgIcon="no-color-circle-arrow-down" [class.expand]="boWithFields.isExpand"
              [appToggleClass]="boWithFields"></mat-icon>
  </div>
</div>
<ng-container *ngIf="load$| async"></ng-container>
<ng-container *ngIf="remove$ | async"></ng-container>

