<div class="left">
  <div class="object">
    <div [title]="boWithFields?.name" class="title">
      {{boWithFields?.name}}
    </div>
    <div (click)="removeBo()" class="icon">
      <mat-icon svgIcon="no-color-remove"></mat-icon>
    </div>
  </div>
</div>
<div class="right">
  <app-bo-attr-item-first *ngIf="!boWithFields?.isExpand"
                          [id]="boWithFields.id"
                          (toggleEmit)="toggleSubject.next()"
                          [appToggleClass]="boWithFields"></app-bo-attr-item-first>
  <app-expansion-panel *ngIf="boWithFields.isExpand"
                       [defaultExpanded]="boWithFields.isExpand">
    <app-bo-attr-item-drag [items]="boWithFields.fields">
      <ng-template let-item #item>
        <app-bo-attr-item [appCheckClass]="item"
                          appHoverClass
                          [field]="item"
                          [boWithFields]="boWithFields"
        >
        </app-bo-attr-item>
      </ng-template>
    </app-bo-attr-item-drag>
  </app-expansion-panel>
</div>
<div class="abs">
  <div class="icon">
    <mat-icon svgIcon="no-color-arrow" [class.expand]="boWithFields.isExpand" (toggleEmit)="toggleSubject.next()"
              [appToggleClass]="boWithFields"></mat-icon>
  </div>
</div>

